.wrapper {
  position: absolute;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition: all 1s linear;

  //top: 48.2090707px;
  //left: 57.4533332px;

  //transform: translate(48.2090707px,57.4533332px);

  //max-width: 35%;
  padding-bottom: 75vw;

}

.arrow {
  position: absolute;
  max-height: 20px;
}